<!DOCTYPE html>
<html>

<head>
    <title>Skylab Academy - Document Details</title>
    <link rel="stylesheet" href="/form.css">
    <link rel="icon" type="image/x-icon" href="/logo.ico">
</head>

<body>
    <div class="section frontPage centered-print">
        <img src="/skyimg.jpg" alt="">
        <h1>Skylab Academy</h1>
        <h1 style="margin-top: -30px;">Document Details</h1>
        <p style="margin-top: -5px; font-size: 20px;">Kursiyer Adı</p>
        <p style="margin-top: -15px; font-size: 30px;">
            <%= document.username %>
        </p>
        <p style="margin-top: -5px; font-size: 20px;">Sözleşme Numarası</p>
        <p style="margin-top: -15px; font-size: 30px;">
            <%= document.agreementNumber %>
        </p>
    </div>
    <div class="page-break"></div>
    <div class="section pageOne">
        <h3>Kursiyer Bilgileri</h3>
        <div class="form-group formBlock">
            <label>Adı Soyadı</label>
            <div>
                <%= document.username %>
            </div>
        </div>
        <div class="form-group formBlock">
            <label>TC Kimlik Numarası</label>
            <div>
                <%= document.tcno %>
            </div>
        </div>
        <div class="form-group formBlock">
            <label>Email</label>
            <div>
                <%= document.email %>
            </div>
        </div>
        <div class="form-group formBlock">
            <label>Doğum Tarihi</label>
            <div>
                <%= document.birthdate %>
            </div>
        </div>
        <div class="form-group formBlock">
            <label>Adres</label>
            <div>
                <%= document.adres %>
            </div>
        </div>
        <div class="form-group formBlock">
            <label>Telefon Numarası</label>
            <div>
                <%= document.phone %>
            </div>
        </div>
        <div class="form-group formBlock">
            <label>Kurs</label>
            <div>
                <%= document.course %>
            </div>
        </div>
        <div class="form-group formBlock">
            <label>İmzalanma Tarihi</label>
            <div>
                <%= document.signedAt %>
            </div>
        </div>
        <div class="pageEnd">
            <div> <img src="/kase.png" alt=""> </div>
            <div class="user">
                <div class="nameDiv">
                    <%= document.username %>
                </div>
                <div class="tcnoimza"></div>
            </div>
        </div>
    </div>
    <div class="page-break"></div>
    <div class="section pageTwo">
        <h3>Kimlik Görselleri</h3>
        <div class="form-group formBlock">
            <label>Kimlik Ön Yüz</label>
            <div class="kimlikfoto">
                <img src="<%= document.kimlikFront %>" alt="ID Card Front" class="file-preview" />
            </div>
        </div>
        <div class="form-group formBlock">
            <label>Kimlik Arka Yüz</label>
            <div class="kimlikfoto">
                <img src="<%= document.kimlikBack %>" alt="ID Card Back" class="file-preview" />
            </div>
        </div>
        <div class="pageEnd">
            <div> <img src="/kase.png" alt=""> </div>
            <div class="user">
                <div class="nameDiv">
                    <%= document.username %>
                </div>
                <div class="tcnoimza"></div>
            </div>
        </div>
    </div>
    <div class="page-break"></div>
    <div class="section pageThree">
        <h3>Ödeme Planı</h3>
        <div class="form-group formBlock">
            <label>Ödeme Planı</label>
            <div class="paymentPlandiv">
                <% if (document.paymentPlan) { %>
                    <img src="<%= document.paymentPlan %>" alt="Payment Plan" height="500" />
                    <% } else { %>
                        <p>Plan bulunamadı. Lütfen yetkili ile iletişime geçin.</p>
                        <% } %>
            </div>
        </div>
        <div class="pageEnd">
            <div> <img src="/kase.png" alt=""> </div>
            <div class="user">
                <div class="nameDiv">
                    <%= document.username %>
                </div>
                <div class="tcnoimza"></div>
            </div>
        </div>
    </div>
</body>

</html>